2A/S7/UE\ Optimisation\ et\ RO/Optimisation/TPs/Projet/src/Algorithme_De_Newton.jl
2A/S7/UE\ Optimisation\ et\ RO/Optimisation/TPs/Projet/src/Gradient_Conjugue_Tronque.jl
2A/S7/UE\ Optimisation\ et\ RO/Optimisation/TPs/Projet/src/Lagrangien_Augmente.jl
2A/S7/UE\ Optimisation\ et\ RO/Optimisation/TPs/Projet/src/Optinum.jl
2A/S7/UE\ Optimisation\ et\ RO/Optimisation/TPs/Projet/src/Pas_De_Cauchy.jl
2A/S7/UE\ Optimisation\ et\ RO/Optimisation/TPs/Projet/src/Regions_De_Confiance.jl
2A/S7/UE\ Optimisation\ et\ RO/Optimisation/TPs/Projet/src/test-TP-Projet-Optinum.jl
2A/S7/UE\ Optimisation\ et\ RO/Optimisation/TPs/Projet/src/TP-Projet-Optinum.ipynb
2A/S7/UE\ Optimisation\ et\ RO/Optimisation/TPs/Projet/src/test.jl
